<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="dll"/>
        </assemblyBinding>
    </runtime>
    <appSettings>
        <!-- 監視周期[ms] -->
        <add key="MonitoringCycleMs" value="2000"/>
        <!--参加者リストのスクロールが必要な場合に，1回のチェック時に下キーの入力と再チェックを行う最大回数
        (一応全て確認し終えたらループを抜けるつくりだが，もし無限ループになってしまった場合の回避策) -->
        <add key="KyedownMaxCount" value="200"/>
    </appSettings>
</configuration>
